In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Metro_pct_sold_below_list_uc_sfrcondo_month.csv")
df.to_csv("Metro_pct_sold_below_temp.csv",index=True)

In [3]:
df1=pd.read_csv("Metro_pct_sold_below_temp.csv")

In [4]:
df1

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,2018-01-31,2018-02-28,2018-03-31,2018-04-30,...,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31,2022-06-30,2022-07-31,2022-08-31,2022-09-30
0,0,102001,0,United States,country,NaN,0.641614,0.621106,0.580294,0.554281,...,0.372358,0.386081,0.356951,0.299235,0.257917,0.247438,0.267005,0.327042,0.404074,0.462966
1,1,394913,1,"New York, NY",msa,NY,0.684298,0.712544,0.676334,0.669481,...,0.417747,0.428224,0.427396,0.415207,0.341327,0.306066,0.283073,0.269014,0.306336,0.360434
2,2,753899,2,"Los Angeles, CA",msa,CA,0.503968,0.469032,0.418800,0.412724,...,0.241962,0.252652,0.200290,0.160494,0.143579,0.158786,0.205859,0.303214,0.415179,0.475717
3,3,394463,3,"Chicago, IL",msa,IL,0.774082,0.768858,0.726630,0.692539,...,0.511005,0.546430,0.493485,0.409291,0.323828,0.298864,0.297139,0.349695,0.441755,0.507922
4,4,394514,4,"Dallas, TX",msa,TX,0.590835,0.556770,0.516630,0.480611,...,0.296053,0.292896,0.241014,0.189971,0.157151,0.164145,0.196248,0.270550,0.402302,0.498042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,542,753909,845,"Ottawa, KS",msa,KS,NaN,NaN,NaN,NaN,...,0.548387,0.653846,0.454545,0.260870,0.291667,0.250000,0.451613,0.416667,0.529412,0.629630
543,543,753921,848,"Steamboat Springs, CO",msa,CO,0.791667,0.952381,0.742857,0.780488,...,0.492308,0.451613,0.384615,0.256410,0.212766,0.358974,0.416667,0.369565,0.577778,0.750000
544,544,394418,867,"Brookings, OR",msa,OR,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.800000
545,545,394371,883,"Beatrice, NE",msa,NE,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.521739,0.500000
546,546,395239,884,"Worthington, MN",msa,MN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.318182,0.333333

In [73]:
len_list=len(list_coluname)

In [83]:
for i, dato in reversed(list(enumerate(list_coluname))):
    print(dato)

817
816
815
814
813
812
811
810
809
808
807
806
805
804
803
802
801
800
799
798
797
796
795
794
793
792
791
790
789
788
787
786
785
784
783
782
781
780
779
778
777
776
775
774
773
772
771
770
769
768
767
766
765
764
763
762
761
760
759
758
757
756
755
754
753
752
751
750
749
748
747
746
745
744
743
742
741
740
739
738
737
736
735
734
733
732
731
730
729
728
727
726
725
724
723
722
721
720
719
718
717
716
715
714
713
712
711
710
709
708
707
706
705
704
703
702
701
700
699
698
697
696
695
694
693
692
691
690
689
688
687
686
685
684
683
682
681
680
679
678
677
676
675
674
673
672
671
670
669
668
667
666
665
664
663
662
661
660
659
658
657
656
655
654
653
652
651
650
649
648
647
646
645
644
643
642
641
640
639
638
637
636
635
634
633
632
631
630
629
628
627
626
625
624
623
622
621
620
619
618
617
616
615
614
613
612
611
610
609
608
607
606
605
604
603
602
601
600
599
598
597
596
595
594
593
592
591
590
589
588
587
586
585
584
583
582
581
580
579
578
577
576
575
574
573
572
571
570
569
568
567
566
565
564
563
562
561
560
559
558
557
556
555
554
553
552
551
550
549
548
547
546
545
544
543
542
541
540
539
538
537
536
535
534
533
532
531
530
529
528
527
526
525
524
523
522
521
520
519
518
517
516
515
514
513
512
511
510
509
508
507
506
505
504
503
502
501
500
499
498
497
496
495
494
493
492
491
490
489
488
487
486
485
484
483
482
481
480
479
478
477
476
475
474
473
472
471
470
469
468
467
466
465
464
463
462
461
460
459
458
457
456
455
454
453
452
451
450
449
448
447
446
445
444
443
442
441
440
439
438
437
436
435
434
433
432
431
430
429
428
427
426
425
424
423
422
421
420
419
418
417
416
415
414
413
412
411
410
409
408
407
406
405
404
403
402
401
400
399
398
397
396
395
394
393
392
391
390
389
388
387
386
385
384
383
382
381
380
379
378
377
376
375
374
373
372
371
370
369
368
367
366
365
364
363
362
361
360
359
358
357
356
355
354
353
352
351
350
349
348
347
346
345
344
343
342
341
340
339
338
337
336
335
334
333
332
331
330
329
328
327
326
325
324
323
322
321
320
319
318
317
316
315
314
313
312
311
310
309
308
307
306
305
304
303
302
301
300
299
298
297
296
295
294
293
292
291
290
289
288
287
286
285
284
283
282
281
280
279
278
277
276
275
274
273
272
271
270
269
268
267
266
265
264
263
262
261
260
259
258
257
256
255
254
253
252
251
250
249
248
247
246
245
244
243
242
241
240
239
238
237
236
235
234
233
232
231
230
229
228
227
226
225
224
223
222
221
220
219
218
217
216
215
214
213
212
211
210
209
208
207
206
205
204
203
202
201
200
199
198
197
196
195
194
193
192
191
190
189
188
187
186
185
184
183
182
181
180
179
178
177
176
175
174
173
172
171
170
169
168
167
166
165
164
163
162
161
160
159
158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [5]:
#esta funcion recibe como parametro un df
#combierte las columnas anio en registros dentro de la columna Date
#los registros precio dentro  de la columna Price
#devuelve un dataframe con las columnas ["RegionName","State","Metro","CountyName","SizeRank","Date",	"Price"]
def func_crear_col_Date_price(df):
    
    #realizo una copia del dataframe. 
    import pandas as pd
    df_col_anio=df.copy()

    #lista de columnas distintas a anio 
    list_columnas_validas=['Unnamed: 0','RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName']

    #en este dataframe solo quedan las columnas año
    df_col_anio=df_col_anio.drop(columns=list_columnas_validas)

    #hago una lista con las columnas anio
    list_columns=df_col_anio.columns

    #creo un nuevo df con las columnas distintas a anio
    df2=df[['Unnamed: 0','RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName']]
    
    #lista sin la columna Unnamed: 0 ni anios
    list_columnas_df2=['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName']
    
    #para recorrer el df tomo la columna unnamed 0 como indice guardo en la variable tamanio_df el valor maximo y sumo 1
    tamanio_df=df["Unnamed: 0"].max()
    
    contador=0
    #creo un dataframe nuevo para concatenar los dataframes procesados
    new_df=pd.DataFrame(columns=['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName','Date','Price'])
    #lista de las que voy a agregar en df1
    list_columnas_df2=['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName']
    list_coluname=df["Unnamed: 0"].unique()
    for i, dato in reversed(list(enumerate(list_coluname))):
        #print(dato)
        #if(dato!=tamanio_df):
            #new_df=pd.read_csv("new_fd.csv")
            #print(new_df)
        serie_col_val=df2.loc[dato]
        registros_anio=df_col_anio.iloc[dato]
        df1=pd.DataFrame(registros_anio)
        df1=df1.reset_index()
        df1=df1.rename(columns={"index":"Date",dato:"Price"})
        list_columnas_df2=['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName']
        
        #df1.to_csv("df1.csv",index=False)
        #df1=pd.read_csv("df1.csv")
        for e in list_columnas_df2:
            var_aux=serie_col_val[e]
            df1.insert(contador, e , var_aux, allow_duplicates=False)
            
        #cambio el orden de las columnas        
        new_df = pd.concat([df1, new_df], axis=0) 
        #new_df.to_csv("new_fd.csv",index=False)
    #new_df=new_df[["RegionName","State","Metro","CountyName","SizeRank","Date","Price"]] 
    
    
        #uno los df
    
    return new_df

In [6]:
new_df=func_crear_col_Date_price(df1)

In [9]:
new_df.columns

Index(['StateName', 'RegionType', 'RegionName', 'SizeRank', 'RegionID', 'Date',
       'Price'],
      dtype='object')

In [8]:
df2=new_df[['RegionType', 'RegionName', 'SizeRank', 'RegionID', 'StateName','Date',
       'Price']]

In [12]:
df2.head(1)

  RegionType     RegionName SizeRank RegionID StateName        Date     Price
0    country  United States        0   102001       NaN  2018-01-31  0.641614

In [9]:
list_column=['RegionType', 'StateName', 'RegionName']

In [10]:
for i in list_column:
    print("**columna",i,new_df[i].unique() )

**columna RegionType ['country' 'msa']
**columna StateName [nan 'NY' 'CA' 'IL' 'TX' 'VA' 'FL' 'PA' 'GA' 'AZ' 'MA' 'MI' 'WA' 'MN' 'CO'
 'MO' 'MD' 'NC' 'OR' 'NV' 'OH' 'IN' 'TN' 'RI' 'WI' 'OK' 'LA' 'KY' 'UT'
 'CT' 'AL' 'HI' 'NE' 'SC' 'NM' 'ID' 'AR' 'IA' 'KS' 'MS' 'ME' 'DE' 'NH'
 'AK' 'NJ' 'WV' 'SD' 'ND' 'MT' 'WY']
**columna RegionName ['United States' 'New York, NY' 'Los Angeles, CA' 'Chicago, IL'
 'Dallas, TX' 'Houston, TX' 'Washington, DC' 'Miami, FL'
 'Philadelphia, PA' 'Atlanta, GA' 'Phoenix, AZ' 'Boston, MA'
 'San Francisco, CA' 'Riverside, CA' 'Detroit, MI' 'Seattle, WA'
 'Minneapolis, MN' 'San Diego, CA' 'Tampa, FL' 'Denver, CO'
 'St. Louis, MO' 'Baltimore, MD' 'Charlotte, NC' 'Orlando, FL'
 'San Antonio, TX' 'Portland, OR' 'Sacramento, CA' 'Las Vegas, NV'
 'Pittsburgh, PA' 'Austin, TX' 'Cincinnati, OH' 'Kansas City, MO'
 'Columbus, OH' 'Indianapolis, IN' 'Cleveland, OH' 'San Jose, CA'
 'Nashville, TN' 'Virginia Beach, VA' 'Providence, RI' 'Jacksonville, FL'
 'Milwaukee, WI' 'Oklahoma City, OK' 'Raleigh, NC' 'Memphis, TN'
 'Richmond, VA' 'New Orleans, LA' 'Louisville, KY' 'Salt Lake City, UT'
 'Hartford, CT' 'Buffalo, NY' 'Birmingham, AL' 'Grand Rapids, MI'
 'Rochester, NY' 'Tucson, AZ' 'Tulsa, OK' 'Fresno, CA'
 'Urban Honolulu, HI' 'Omaha, NE' 'Worcester, MA' 'Bridgeport, CT'
 'Greenville, SC' 'Albuquerque, NM' 'Bakersfield, CA' 'Albany, NY'
 'Knoxville, TN' 'McAllen, TX' 'Baton Rouge, LA' 'North Port, FL'
 'New Haven, CT' 'Columbia, SC' 'Allentown, PA' 'El Paso, TX' 'Oxnard, CA'
 'Charleston, SC' 'Dayton, OH' 'Cape Coral, FL' 'Greensboro, NC'
 'Boise City, ID' 'Stockton, CA' 'Colorado Springs, CO' 'Little Rock, AR'
 'Lakeland, FL' 'Des Moines, IA' 'Akron, OH' 'Springfield, MA' 'Ogden, UT'
 'Deltona, FL' 'Winston, NC' 'Madison, WI' 'Provo, UT' 'Durham, NC'
 'Syracuse, NY' 'Wichita, KS' 'Toledo, OH' 'Augusta, GA' 'Palm Bay, FL'
 'Jackson, MS' 'Harrisburg, PA' 'Spokane, WA' 'Chattanooga, TN'
 'Scranton, PA' 'Modesto, CA' 'Fayetteville, AR' 'Lansing, MI'
 'Lancaster, PA' 'Portland, ME' 'Youngstown, OH' 'Fayetteville, NC'
 'Lexington, KY' 'Myrtle Beach, SC' 'Pensacola, FL' 'Port St. Lucie, FL'
 'Santa Rosa, CA' 'Huntsville, AL' 'Reno, NV' 'Springfield, MO'
 'Visalia, CA' 'Killeen, TX' 'Asheville, NC' 'York, PA' 'Vallejo, CA'
 'Santa Maria, CA' 'Salem, OR' 'Salinas, CA' 'Corpus Christi, TX'
 'Mobile, AL' 'Salisbury, MD' 'Reading, PA' 'Gulfport, MS'
 'Manchester, NH' 'Fort Wayne, IN' 'Flint, MI' 'Anchorage, AK'
 'Peoria, IL' 'Canton, OH' 'Savannah, GA' 'Naples, FL' 'Shreveport, LA'
 'Beaumont, TX' 'Tallahassee, FL' 'Eugene, OR' 'Davenport, IA' 'Ocala, FL'
 'Montgomery, AL' 'Hickory, NC' 'Trenton, NJ' 'Ann Arbor, MI'
 'Fort Collins, CO' 'Huntington, WV' 'Lincoln, NE' 'Rockford, IL'
 'Greeley, CO' 'Gainesville, FL' 'Boulder, CO' 'Lubbock, TX'
 'Spartanburg, SC' 'Green Bay, WI' 'South Bend, IN' 'Columbus, GA'
 'Evansville, IN' 'Clarksville, TN' 'Roanoke, VA' 'Kingsport, TN'
 'Kennewick, WA' 'Wilmington, NC' 'Hagerstown, MD' 'Crestview, FL'
 'Duluth, MN' 'Utica, NY' 'Longview, TX' 'San Luis Obispo, CA'
 'Merced, CA' 'Waco, TX' 'Cedar Rapids, IA' 'Santa Cruz, CA' 'Erie, PA'
 'College Station, TX' 'Kalamazoo, MI' 'Amarillo, TX' 'Norwich, CT'
 'Lynchburg, VA' 'Atlantic City, NJ' 'Charleston, WV' 'Tuscaloosa, AL'
 'Yakima, WA' 'Fort Smith, AR' 'Prescott Valley, AZ' 'Appleton, WI'
 'Binghamton, NY' 'Tyler, TX' 'Lafayette, IN' 'Macon, GA' 'Daphne, AL'
 'Hilton Head Island, SC' 'Champaign, IL' 'Rochester, MN' 'Medford, OR'
 'Charlottesville, VA' 'Yuma, AZ' 'Lebanon, NH' 'Lake Havasu City, AZ'
 'Athens, GA' 'Barnstable Town, MA' 'Chico, CA' 'Lake Charles, LA'
 'Gainesville, GA' 'Elkhart, IN' 'Springfield, IL' 'Johnson City, TN'
 'Florence, SC' 'Jacksonville, NC' 'Hilo, HI' 'St. Cloud, MN' 'Bend, OR'
 'Racine, WI' 'Punta Gorda, FL' 'Saginaw, MI' 'Warner Robins, GA'
 'Terre Haute, IN' 'St. George, UT' 'Midland, TX' 'Dover, DE'
 'Greenville, NC' 'Bowling Green, KY' 'Joplin, MO' 'Torrington, CT'
 'Jackson, TN' 'Kingston, NY' 'Yuba City, CA' 'Muskegon, MI' 'Abilene, TX'
 'Oshkosh, WI' 'Burlington, NC' 'Panama City, FL' 'Bloomington, IL'
 'East Stroudsburg, PA' 'Eau Claire, WI' 'Pueblo, CO' 'Bloomington, IN'
 'Waterloo, IA' 'Kahului, HI' 'Wausau, WI' 'Janesville, WI'
 'Sebastian, FL' 'State College, PA' 'Madera, CA' 'Jackson, MI'
 'Chambersburg, PA' 'Grand Junction, CO' 'Elizabethtown, KY' 'Niles, MI'
 'Homosassa Springs, FL' 'Hanford, CA' 'Concord, NH' 'Bangor, ME'
 'Traverse City, MI' 'Alexandria, LA' 'Monroe, MI' 'Dothan, AL'
 'Jefferson City, MO' 'London, KY' 'Vineland, NJ' 'Rocky Mount, NC'
 'Ottawa, IL' 'Rapid City, SD' 'Logan, UT' 'Morristown, TN' 'Dalton, GA'
 'Flagstaff, AZ' 'Winchester, VA' 'Lebanon, PA' 'Pottsville, PA'
 'Sumter, SC' 'The Villages, FL' 'Sherman, TX' 'Wheeling, WV'
 'La Crosse, WI' 'Hammond, LA' 'Napa, CA' 'Harrisonburg, VA'
 'Jonesboro, AR' 'Carbondale, IL' 'Springfield, OH' 'Battle Creek, MI'
 'Albany, OR' 'Mount Vernon, WA' 'Lumberton, NC' 'Bismarck, ND'
 'Johnstown, PA' 'Sierra Vista, AZ' 'Lawton, OK' 'Jamestown, NY'
 'Cleveland, TN' 'Pittsfield, MA' 'Ames, IA' 'Staunton, VA'
 'Goldsboro, NC' 'Farmington, NM' 'New Bern, NC' 'Augusta, ME'
 'St. Joseph, MO' 'Lawrence, KS' 'Missoula, MT' 'Mansfield, OH'
 'Brunswick, GA' 'Holland, MI' 'Wooster, OH' 'Cookeville, TN'
 'Weirton, WV' 'California, MD' 'Anniston, AL' 'Muncie, IN'
 'Twin Falls, ID' 'Show Low, AZ' 'Longview, WA' 'Roseburg, OR'
 'Michigan City, IN' 'Kankakee, IL' 'Lewiston, ME' 'Richmond, KY'
 'Watertown, NY' 'Ogdensburg, NY' 'Sebring, FL' 'Tullahoma, TN'
 'Kalispell, MT' 'Pinehurst, NC' 'LaGrange, GA' 'Decatur, IL'
 'Gettysburg, PA' 'Mankato, MN' 'Lima, OH' 'Salem, OH' 'Ithaca, NY'
 'Cheyenne, WY' 'Grand Forks, ND' 'Hot Springs, AR' 'Truckee, CA'
 'Victoria, TX' 'Sevierville, TN' 'Shelby, NC' 'Rome, GA' 'Adrian, MI'
 'Dubuque, IA' 'Cape Girardeau, MO' 'Albertville, AL' 'Cumberland, MD'
 'Ashtabula, OH' 'Pocatello, ID' 'Brainerd, MN' 'Corning, NY'
 'Corvallis, OR' 'New Philadelphia, OH' 'Ocean City, NJ' 'Sunbury, PA'
 'Hermiston, OR' 'Parkersburg, WV' 'Grants Pass, OR' 'Pine Bluff, AR'
 'Ukiah, CA' 'Zanesville, OH' 'Russellville, AR' 'New Castle, PA'
 'Watertown, WI' 'Columbus, IN' 'Athens, TX' 'Meadville, PA' 'Indiana, PA'
 'Midland, MI' 'Hinesville, GA' 'Kokomo, IN' 'Helena, MT' 'Wilson, NC'
 'Great Falls, MT' 'Statesboro, GA' 'Casper, WY' 'Seneca, SC'
 'Talladega, AL' 'Plattsburgh, NY' 'Warsaw, IN' 'Searcy, AR'
 'Glenwood Springs, CO' 'Port Angeles, WA' 'Heber, UT' 'Jefferson, GA'
 'Auburn, NY' 'Olean, NY' 'Findlay, OH' 'Danville, IL' 'Palatka, FL'
 'Quincy, IL' 'Frankfort, KY' 'Key West, FL' 'Sandusky, OH' 'Shawnee, OK'
 'Somerset, PA' 'Huntsville, TX' 'Kapaa, HI' 'Greeneville, TN'
 'Morehead City, NC' 'Mount Pleasant, MI' 'Klamath Falls, OR'
 'Muskogee, OK' 'Faribault, MN' 'Forest City, NC' 'Farmington, MO'
 'Somerset, KY' 'Marion, IN' 'Marion, OH' 'Coos Bay, OR' 'Clearlake, CA'
 'Lewiston, ID' 'Georgetown, SC' 'Albemarle, NC' 'Marinette, WI'
 'Sanford, NC' 'Crossville, TN' 'Laconia, NH' 'Charleston, IL'
 'Sturgis, MI' 'Marietta, OH' 'Hudson, NY' 'Calhoun, GA'
 'Fergus Falls, MN' 'Ardmore, OK' 'Fremont, OH' 'Fernley, NV'
 'Cullowhee, NC' 'Norwalk, OH' 'Batavia, NY' 'Durango, CO' 'Boone, NC'
 'Branson, MO' 'Carson City, NV' 'Ontario, OR' 'Kinston, NC'
 'Poplar Bluff, MO' 'St. Marys, GA' 'Tiffin, OH' 'Edwards, CO'
 'Jasper, IN' 'Danville, KY' 'Sterling, IL' 'Payson, AZ' 'Warrensburg, MO'
 'Athens, TN' 'Elizabeth City, NC' 'Milledgeville, GA' 'Enterprise, AL'
 'Kerrville, TX' 'Fort Leonard Wood, MO' 'Bartlesville, OK'
 'Greenville, OH' 'Corsicana, TX' 'Newport, OR' 'Winona, MN'
 'Rochelle, IL' 'Shelbyville, TN' 'Malone, NY' 'Paris, TX'
 'Gardnerville Ranchos, NV' 'Galesburg, IL' 'Tahlequah, OK' 'Durant, OK'
 'Cadillac, MI' 'Sidney, OH' 'Montrose, CO' 'Pahrump, NV' 'New Castle, IN'
 'Ca-¦on City, CO' 'Kendallville, IN' 'Bemidji, MN' 'Cortland, NY'
 'Mount Sterling, KY' 'Washington, NC' 'Nogales, AZ' 'Bardstown, KY'
 'Clinton, IA' 'Red Wing, MN' 'Plymouth, IN' 'Cornelia, GA' 'Marion, NC'
 'Wapakoneta, OH' 'Hillsdale, MI' 'Paragould, AR' 'Bedford, IN'
 'Burley, ID' 'Bellefontaine, OH' 'Lawrenceburg, TN' 'Rolla, MO'
 'Seymour, IN' 'Big Rapids, MI' 'Freeport, IL' 'McAlester, OK'
 'Auburn, IN' 'Coldwater, MI' 'Stephenville, TX' 'Willmar, MN'
 'Cedartown, GA' 'Clewiston, FL' 'Wilmington, OH' 'McMinnville, TN'
 'Gainesville, TX' 'Astoria, OR' 'Bradford, PA' 'West Plains, MO'
 'Austin, MN' 'Riverton, WY' 'Urbana, OH' 'Hannibal, MO' 'Ada, OK'
 'Crawfordsville, IN' 'Alexandria, MN' 'Brownwood, TX'
 'Kill Devil Hills, NC' 'Logansport, IN' 'Houghton, MI' 'Centralia, IL'
 'Easton, MD' 'Bay City, TX' 'Owatonna, MN' 'Huntington, IN' 'Vernal, UT'
 'Lebanon, MO' 'Hutchinson, MN' 'Pontiac, IL' 'Lewisburg, TN' 'Angola, IN'
 'Brevard, NC' 'Dixon, IL' 'Dayton, TN' 'Taylorville, IL' 'Cambridge, MD'
 'Breckenridge, CO' 'Albert Lea, MN' 'Mineral Wells, TX' 'Ludington, MI'
 'Washington Court House, OH' 'Lincoln, IL' 'Mountain Home, ID'
 'Greensburg, IN' 'La Grande, OR' 'Toccoa, GA' 'Ottawa, KS'
 'Steamboat Springs, CO' 'Brookings, OR' 'Beatrice, NE' 'Worthington, MN']

In [9]:
df2.to_csv("Metro_pct_sold_below_list_uc_sfrcondo_month(transformado).csv",index=False)

In [2]:
df1=pd.read_csv("Metro_pct_sold_below_list_uc_sfrcondo_month(transformado).csv")

In [4]:
df1["Date"].unique()

array(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
       '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31',
       '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31',
       '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
       '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
       '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31',
       '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
       '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
       '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31',
       '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
       '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
       '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31',
       '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
       '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31',
       '2022-09-30'], dtype=object)